.header {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  display: flex;
}
.logo {
  background-image: url("../images/logo.png");
  width: 150px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto 0;
  background-position: center;
  margin-left: 20px;
}
